@import '../../assets/variables.scss';

.pokemon-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $space-separation-big;

  &__title {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'pokemon', Fallback, sans-serif;
  }

  &__image-container {
    border: 2px solid;
    padding: $space-separation;
    border-radius: 20px;
    text-align: center;
  }

  &__image {
    width: 120px;
    @media (min-width: $mobile-min-width) {
      width: 100px;
    }
  }

  &__details {
    padding-top: $space-separation-big;

    @media (min-width: $mobile-min-width) {
      width: 100%;
    }

    @media (min-width: $tablet-min-width) {
      width: 70%;
    }
  }

  &__details-item {
    padding: $space-separation;
    border-top: 2px solid;
  }

  &__details-item:last-child {
    border-bottom: 2px solid;
  }

  &__type {
    margin: $space-separation-little;
    font-weight: 600;
    border: 1px solid;
    border-radius: 10px;
    padding: $space-separation-little;
  }
}

.pokemon-evolution-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $space-separation-big;

  &__title {
    font-weight: bold;
    text-decoration: underline;
    font-family: 'pokemon', Fallback, sans-serif;
  }

  &__evolution-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
