$color-red: #f44336;
$color-light-red: #ffcdd2;
$color-dark-red: #d32f2f;
$color-black: #000;
$color-white: #fff;
$color-dark-blue: #0d47a1;

$space-separation: 1rem;
$space-separation-big: $space-separation * 2;
$space-separation-huge: $space-separation * 4;
$space-separation-little: $space-separation / 2;

$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1025px;
