$color-red: #f44336;
$color-light-red: #ef5350;
$color-dark-red: #c62828;
$color-black: #000;

$space-separation: 1rem;
$space-separation-huge: $space-separation * 4;

$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1025px;
