@import '~react-md/src/scss/react-md';

@include react-md-everything;

@font-face {
  font-family: 'pokemon';
  src: url("./assets/fonts/Pokemon\ GB.ttf");
  src: url('./assets/fonts/Pokemon\ GB.ttf')  format('truetype');
}


body {
  font-family: 'pokemon', Arial, sans-serif;
}

.md-floating-label {
  line-height: 2;
}
