@import '~react-md/src/scss/react-md';

@include react-md-everything;

@font-face {
  font-family: 'pokemon';
  src: url('./assets/fonts/Pokemon\ GB.ttf')  format('truetype'), /* Safari, Android, iOS */
}


body {
  font-family: 'pokemon', Fallback, sans-serif;
}

.md-floating-label {
  line-height: 2;
}
